*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}

.container{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 30px;
    text
}