*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}

.container{
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 30px;
}
h4{
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    width: 20px;
    height: 20px;
}
label{
    margin: 8px;
    font-size: 18px;
}
p{
    background-color:#a4b0be;
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-size:20px ;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

button{
    padding: 8px;
    width: 100px;
    color:black ;
    font-weight: bold;
    font-size: 16px;
    background-color: #a4b0be;
    border-radius: 10px;
    outline: none;
    border: none;
}




  